<div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-input">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" />
    </div>
    <div class="form-input">
      <label for="owner">Owner</label>
      <input type="text" id="owner" formControlName="owner" />
    </div>
    <div class="form-input">
      <label for="forsale">For sale</label>
      <input type="number" id="forsale" formControlName="price" />
    </div>
    <button type="submit">Create Coolectable</button>
  </form>
</div>
