:host {
  .item-card {
    max-width: 250px;
  }
  .owner {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .buy {
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    :nth-child(1) {
      margin-right: 12px;
    }
  }
}
