:host {
  padding: 20px 0px;
  .item {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font-size: 14px;
    div {
      min-width: 50px;
    }
  }
  .heading {
    margin-bottom: 10px;
    font-size: 16x;
  }
  .name {
    width: 80px;
  }
  .table {
    width: 100%;
  }
}
