:host {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;

  .content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
  }
  .cart {
    min-width: 30%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .checkout-btn {
    padding: 20px;
    font-size: 20px;
    background: lightgray;
    border-radius: 10px;
    border: 0;
  }
}
