/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

* {
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
}
.spliter-right {
  margin-right: 14px;
  position: relative;
}
.spliter-right::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: gray;
  right: -7px;
  bottom: 3px;
}

.tab-item {
  cursor: pointer;
}

.active {
  color: #1669bb;
}
